@font-face {
  font-family: 'VT323';
  src: url('./fonts/VT323-Regular.ttf') format('ttf'),
    url('./fonts/VT323-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

:root {
    font-family: "VT323", monospace;
    font-weight: 400;
    --primary-color: #ffd52c;
    --secondary-color: #ff5c00;
    --tertiary-color: #c72d04;
    --background-color: #111;
    scrollbar-color: var(--primary-color) var(--secondary-color);
    font-size: clamp(18px, 3vw, 30px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

@keyframes crtAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 10000%;
  }
}

.old-crt-monitor {
    box-shadow: inset 0px 0px 2rem;
    background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
    animation: crtAnimation 100s linear infinite;
    background-size: 100% 80%;
}

button {
  	background: transparent;
	border: 1px solid var(--primary-color);
	clear: both;
	color: var(--primary-color);
	cursor: hand;
	display: inline-block;
	font-family: 'VT323', monospace;
  font-size: 1em;
	margin-bottom: 20px;
	opacity: 0.25;
	padding: 10px 100px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	z-index: 10;
}

button:hover, .menuItem:hover {
	background: var(--primary-color);
	color: var(--background-color);
	opacity: 0.8;
}

#content {

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 90vw;
  height: 90vh;
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  overflow: hidden;
  padding: 0.5rem;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
  mask-size: 100% 2px;
  text-shadow: 0 0 0.5rem;
}

.headline, .main {
  display: flex;
  justify-content: center;
}

.main {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;

  text-align: justify;
}

.main img {
  height: 90%;
}

/* MENU */

.menu {
  width: 90%;
}

.menuItem {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuItem img{
  width: 10%;
  height: 10%;
}

/* ABOUT */

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutText {
  width: 90%;
  margin-bottom: 200px;
}

.credit {
  color: var(--primary-color);
}
